#title-screen {
    background-image: url("project://database/Assets/Textures/bg_title_lofi.png");
    background-size: cover;
    background-position: center;
}

.title-card {
    align-items: center;
    padding: var(--sp-2xl) var(--sp-2xl);
}

.title-content {
    align-items: center;
    margin-bottom: var(--sp-md);
}

.title-logo-main {
    font-size: 96px;
    -unity-font-definition: url("project://database/Assets/Fonts/Caveat-Bold.ttf");
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    -unity-text-align: middle-center;
    margin-bottom: var(--sp-xs);
    -unity-text-outline-width: 0.5px;
    -unity-text-outline-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 40px rgb(0, 0, 0);
}

.title-logo-sub {
    font-size: 30px;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 8px;
    -unity-text-align: middle-center;
}

.version-label {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    font-size: var(--fs-small);
    -unity-font-style: normal;
    color: var(--color-text-dim);
    -unity-text-align: middle-center;
}

