#title-screen {
    background-image: url("project://database/Assets/Textures/bg_title_lofi.png");
    background-size: cover;
    background-position: center;
}

.title-card {
    align-items: center;
    padding: var(--sp-2xl) var(--sp-2xl);
}

.title-content {
    align-items: center;
    margin-bottom: var(--sp-2xl);
}

.title-logo-image {
    width: 600px;
    height: 339px;
    background-image: url("project://database/Assets/Textures/logo_title.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.title-buttons {
    align-items: center;
}
